body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.pips--form-group {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.3rem;
  border: solid 1px lightgray;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.pips--form-group > label {
  font-weight: bold;
  vertical-align: top;
  display: inline-block;
  width: 12rem;
}

.pips--form-group > input, .pips--form-group > textarea,
.pips--form-group > select, .pips--form-group > checkbox {
  display: inline-block;
  min-width: 36rem;
}

.pips--primary-button {
  border: none;
  border-radius: 0.3rem;
  min-width: 98px;
  min-height: 36px;
  background-color: mediumslateblue;
  color: white;
}