body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #467080;
}

.pips--container {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: white;
  margin: 2rem;
}

.pips--sidebar-header {
  padding: 1rem;
}

.pips--h1 {
  color: #35a6d3;
}

.pips--h4 {
  color: #467080;
}

.pips--sidebar {
  width: 22vw;
  margin: 1rem;
  border: solid 1px lightgray;
  border-radius: 0.5rem;
  min-height: 76vh;
}

.pips--main {
  width: 68vw;
  min-height: 1px;
  margin: 1rem;
}

.pips--main-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pips--actions {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.pips--listitem {
  margin: 0.5rem 0;
}
.pips--listitem::marker {
  color: #35a6d3;
}

.pips--form-group {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.3rem;
  border: solid 1px lightgray;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.pips--form-group.hidden {
  display: none;
}

.pips--form-group > label {
  font-weight: bold;
  vertical-align: top;
  display: inline-block;
  width: 12rem;
}

.pips--form-group > input, .pips--form-group > textarea,
.pips--form-group > select, .pips--form-group > checkbox {
  display: inline-block;
  min-width: 36rem;
}

.pips--button {
  border: none;
  border-radius: 0.3rem;
  min-width: 98px;
  min-height: 36px;
  background-color: #467080;
  color: white;
  cursor: pointer;
  margin: 0 0.2rem;
}
.pips--primary-button {
  background-color: #D5692F;
  color: white;
}

.pips--secondary-button {
   background-color: #467080;
}
.pips--button > a {
  color: white;
}

.date-label {
  min-width: 240px;
  display: inline-block;
}
