div.pips--card
    #selectedPost

        h2 #{selectedPost.postTitle}
        if selectedPost.from
            span van #{selectedPost.from} tot #{selectedPost.to}
        p !{selectedPost.htmlContent}

