extends layout 

block content 
    h1= title
    
    form(method='POST' action='')
        .pips--form-group 
            label(for='post-title') Title: 
            input#post-title(type='text', name='postTitle' value='')
        .pips--form-group 
            label(for='post-content') Your content goes here: 
            textarea#post-content(rows=4, name='postContent', value='')
        button.pips--primary-button(type='submit') Save