extends index.pug 

block content
    sidebar.pips--sidebar 
        div.pips--sidebar-header
            h4.pips--h4 Alle posts
        ul
            if posts
                each post in posts 
                    a(href=`/posts/${post.slug}` alt=`${post.postTitle}`) 
                        li.pips--listitem= post.postTitle


    main.pips--main
        div.pips--main-toolbar
            if selectedPost 
                div.pips--actions
                    if !edit
                        button.pips--button.pips--secondary-button 
                            a(href=`/posts/${selectedPost.slug}/edit`) Post Aanpassen
                    button.pips--button.pips--primary-button
                        a(href='/posts') Nieuwe post


        if selectedPost && edit
            include includes/post-form.pug
        else if (selectedPost) 
            include includes/post-detail.pug
        else
            include includes/post-form.pug







